#panel-audio {
  padding: 15px;
  background: rgba(45, 45, 45, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#panel-audio h3 {
  font-size: 14px;
  color: #fff;
}

.audio-controls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  gap: 10px;
}

#audio-toggle {
  border: none !important;
  background: url('../access/btn_image/audio_startBtn.PNG') no-repeat center/contain !important;
  border-radius: 0 !important;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

#audio-toggle.playing {
  background: url('../access/btn_image/audio_pauseBtn.PNG') no-repeat center/contain !important;
  scale: 2;

}

.audio-btn {
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.166);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.2s;
}

.audio-btn:hover {
  transform: scale(1.05);
}

.audio-select {
  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 12px;
  cursor: pointer;
}
